<a [routerLink]="['']" routerLinkActive="activado">Test</a>
<br>
<a [routerLink]="['users']" routerLinkActive="activado">Test</a>
<br>
<!-- <a [routerLink]="['users', 5, 'edit-user']"  routerLinkActive="activado">Editar usuario</a>
<br>
<a [routerLink]="['users', 5, 'details']"  routerLinkActive="activado">Detalles usuario 5</a>
<br>
<a [routerLink]="['users', 15, 'details']"  routerLinkActive="activado">Detalles usuario 15</a>
<br> -->
<div style="background-color: red; padding: 2em">
  <router-outlet></router-outlet>
</div>
